<!DOCTYPE html>
<html>
<head>
  <title>Find out how unique you are | Get your Uniqueness Rating | HowUniqueAmI.com</title>
</head>
<body>

  {{> header}}

{{{ body }}}

  {{> footer}}

</body>
</html>