<!DOCTYPE html>
<html>
<head>
  <title>Find out how unique you are | Get your Uniqueness Rating | HowUniqueAmI.com</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<ul id="dropdown1" class="dropdown-content">
  {{#if localsUser}}
  <li class="logged-in-links"><a class='start-button cyan-text text-lighten-1' href="/questions">UniQ's</a></li>
  <li class="logged-in-links"><a class='unique-button cyan-text text-lighten-1' href="/unique">My UniQueness</a></li>
  <li class="logged-in-links"><a class='cyan-text text-lighten-1' id="my-account" href="/users">My Profile</a></li>
  <li class="logged-in-links"><a class='cyan-text text-lighten-1' id="logout" href="/logout">Logout</a></li>
  {{else}}
  <li>
    <div class="center">
      <form id="login-form" method="GET" action="/login">
        <br/>
        <div class="input-field">
          <input type="email" name="user[email]" id="email" placeholder="Email" class="left-align" required autofocus/>
        </div>
        <br/>
        <div class="input-field">
          <input type="password" name="user[password]" id="password" placeholder="Password" class="left-align"required/>
        </div><br/>
        <div>
          <button width="100%" type="submit" id="login-button" name="action" class="btn waves-effect waves-light cyan lighten-1">Log in</button>
        </div>
      </form></li><br/>
    </div>
  <li><a class="center" id="signup-link" href="/signup">Sign up</a></li>
  {{/if}}
</ul>
<nav class="orange lighten-2" role="navigation">
  <div class="nav-wrapper">
    <a href="/" id='logo' class="brand-logo"><img src="images/site_name.png"/></a>
    <ul class="right hide-on-med-and-down">
      <!-- Dropdown Trigger -->

      <li>
        <a class="dropdown-button" href="#!" data-activates="dropdown1">
          <span id="dropdown-text">
          {{#if localsUser}}
            Menu
          {{else}}
            Log in
          {{/if}}
          </span>
        <i class="material-icons right">arrow_drop_down</i></a>
      </li>
    </ul>
  </div>
</nav>

{{{ body }}}

  <div class="section center" id="question-links">
  </div>

  <footer class="page-footer orange lighten-2">
    <div class="container center">
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="/about">About us</a></li>
            <li><a class="white-text" href="/privacy">Privacy Policy</a></li>
            <li><a class="white-text" href="/contact">Contact Us</a>
            <li><a class="white-text" href="/coppa">COPPA Compliance</a></li><br/>
          </ul>
        </div>
    </div>
  </footer>

  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  <script src="js/init.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
  <script type="text/javascript" src="handlebars/templates.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</body>
</html>