<!DOCTYPE html>
<html>
<head>
  <title>Find out how unique you are | Get your Uniqueness Rating | HowUniqueAmI.com</title>
</head>
<body>
<header>
  <a href="/">Home</a>
  <a href="/login">Login</a>
</header>


{{{ body }}}

  <footer>
    <a href="/about">About us</a>
    <a href="/privacy">Privacy Policy</a>
    <a href="/contact">Contact Us</a>
  </footer>
</body>
</html>